* {
	box-sizing: border-box;
}
html {
	font-family: $body-font;
	color: $dark-text-color;
	font-weight: 300;
}
a {
	text-decoration: none;
	color: $primary-text-color;
}
ul {
	list-style-type: none;
	padding: 0;
}
select {
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem;
	font-size: 1rem;
	color: $dark-text-color;
	border: 1px solid $orange-text-color;
	border-radius: none;
		&:focus {
			outline: none;
		}
		@include for-tablet-portrait {
			width: inherit;
		}
}
.rtl-direction {
	direction: rtl;
	unicode-bidi: bidi-override;
}
.ltr-direction {
	direction: ltr;
	unicode-bidi: normal;
}
.hide {
	display: none;
}
.body {
	background-color: $main-bcg-color;
}
.row {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
.container {
	position: relative;
	width: 100%;
		@include for-tablet-landscape {
			width: 90%;
			margin: 0 auto;
		}
}
.side-container {
	width: 100%;
	padding: 0.5rem;
	background-color: $primary-color-dark;
}